<div class="row">
  <div class="col-xs-offset-2 col-xs-6">
	<div class="panel panel-info">
		<div class="panel-heading" > 
		  <h1 class="panel-title">
		    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 
		    <%= t('.title')%>
		  </h1>
		</div>
	</div>
  </div>
</div>

<%= link_to t('link.edit'), @church %> |
<%= link_to t('link.back'), churches_path %>
