.row
  .col-md-12.col-sm-12.col-xs-12
    .box-body.no-padding
      .x_panel
        .x_title
          %h2
            %a.collapse-link.cursor
              .glyphicon.glyphicon.glyphicon-book
              Datos de la Iglesia
            %small
              * Campos Obligatorios.
          .clearfix
        .x_content{:style => "display: block;"}
          = render 'form'
