-if(@ministries.present?)
  .row
    - @ministries.each do |ministry|
      .col-md-12.col-sm-12.col-xs-12
        .box-body.no-padding
          .x_panel
            .x_title
              %h2
                = link_to ministry.name, edit_ministry_path(ministry), data: { toggle: 'tooltip', placement: 'top', title: t('link.show')}
                = link_to ministry, method: :delete, data: { confirm: t('confirm.message.destroy'), toggle: 'tooltip', placement: 'top', title: t('link.destroy')} do
                  %i.glyphicon.glyphicon-trash
                %small
                  = t('common.member', count: ministry.members.active_service.size)
              .clearfix
            .x_content{:style => "display: block;"}
              .row
                .clearfix
                = render ministry.members.active_service
