-if(@ministries.present?)
  .row
    - @ministries.each do |ministry|
      .col-md-12.col-sm-12.col-xs-12
        .box-body.no-padding
          .x_panel
            .x_title
              %h2
                = link_to edit_ministry_path(ministry) do
                  =ministry.name
                  .glyphicon.glyphicon-pencil
                %small
                  -if(ministry.members.present?)
                    =ministry.members.size
                    miembros
                  - else
                    0 miembros
              %ul.nav.navbar-right.panel_toolbox
                %li
                  %a.collapse-link
                    %i.fa.fa-chevron-down
                %li
                  %a.close-link
                    %i.fa.fa-close
              .clearfix
            .x_content{:style => "display: block;"}
              .row
                .clearfix
                - ministry.members.each do |member|
                  .col-md-2.col-sm-2.col-xs-4
                    .col-sm-12
                      .text-center
                        = link_to gravatar_image_tag(member.email, filetype: :png, rating: 'pg', class:'img-circle profile_img', secure: false, gravatar: { default: :mm } ), edit_member_path(member)
                    .col-sm-12.text-center
                      .emphasis
                        = link_to edit_member_path(member) do
                          = member.first_name
                          %i.glyphicon.glyphicon-pencil
