.container
  .row
    .col-sm-10.col-sm-offset-1
      %h1 Ministries
  .row
    .col-sm-10.col-sm-offset-1.text-right
      = link_to "Nuevo Ministerio", new_ministry_path, remote: true, class: "btn btn-primary"
  .row
    .col-sm-10.col-sm-offset-1
      %table.table
        %thead
          %tr
            %th Nombre
            %th Miembros
            %th
        %tbody
          - @ministries.each do |ministry|
            = render "row", ministry: ministry

