-if(@responsibilities.present?)
  .row
    - @responsibilities.each do |responsibility|
      .col-md-12.col-sm-12.col-xs-12
        .box-body.no-padding
          .x_panel
            .x_title
              %h2
                - if responsibility.administrative?
                  %i.fa.fa-briefcase{ data: { toggle: 'tooltip', placement: 'top', title: t('.admin')}}
                = link_to responsibility.name, edit_responsibility_path(responsibility), data: { toggle: 'tooltip', placement: 'top', title: t('link.show')}
                = link_to responsibility, method: :delete, data: { confirm: t('confirm.message.destroy'), toggle: 'tooltip', placement: 'top', title: t('link.destroy')} do
                  .glyphicon.glyphicon-trash
                %small
                  = t('common.member', count: responsibility.members_by_church(current_church).active_service.size)
              .clearfix
            .x_content{:style => "display: block;"}
              .row
                .clearfix
                = render responsibility.members_by_church(current_church).active_service
