Hola!

Este es el listado de miembros que asistieron el dia..


Estos son los miembros del ministerio ... que no asistieron. Por favor, llámalos!



Muchas gracias y Saludos!
Atte. <%= current_user.name%>
