%h1
  Hola!

%p
  Este es el listado de miembros que asistieron el dia..

%p
  Estos son los miembros del ministerio ... que no asistieron. Por favor, llámalos!
  Hola!


%p
  Muchas gracias y Saludos!
  Atte. 
  = @user.name