/*
 *= require form_signin
 */

.center {
  text-align: center;
}

.footer {
  margin: 25px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer a:hover{
  color: #222;
}

.footer small {
  float: right;
  list-style: none;
}

.footer ul li{
  float: left;
  margin-left: 15px;
}

.profile dt{
  font-size: 0.7em;
  color: #6A6676;
  letter-spacing: -1px;
  font-weight: bold;
}

.profile dd{
  font-size: 0.9em;
  color: #6A6676;
}

.img-container{
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.emphasis{
  height: 44px;
}

#member-list .member {
  height: 140px;
}

.navbar-top-links .dropdown-user {
  right: auto;
}

@media(min-width:768px) {
  .navbar-top-links .dropdown-user {
    right: 0;
  }
}

.minim-height{
  min-height: 688px;
}

.cursor{
  cursor: pointer;
}

.bg-yellow {
  background-color: #f39c12 !important;
  color: #fff !important;
}

.bg-aqua {
  background-color: #00c0ef !important;
  color: #fff !important;
}

.bg-green {
  background-color: #00a65a !important;
  color: #fff !important;
}

.bg-red {
  background-color: #dd4b39 !important;
  color: #fff !important;
}

.bg-blue {
  background-color: #2A3F54 !important;
  color: #fff !important;
}

.tile-stats h3 {
  color: #fff !important;
  -webkit-font-smoothing: antialiased;
}

.small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  text-decoration-color: #fff !important;
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.small-box-footer a {
  color: #fff !important;
}

.label {
  margin-right: 2.1px !important;
}

body .modal-dialog {
  width: 60%;
  left: 6%;
  margin-left:auto;
  margin-right:auto;
}

.form-group label.error  {
  color: #dd4b39 !important;
  font-size: 0.8em;
}
