$navbar-default-bg: #EBEBEB;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: #6A6676;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #46444D;
	text-decoration: none;
}

.center {
	text-align: center;
}

.footer {
	margin: 25px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.footer a:hover{
	color: #222;
}

.footer small {
	float: right;
	list-style: none;
}

.footer ul li{
	float: left;
	margin-left: 15px;
}