.container
  %footer.footer
    %small
      Copyright ©
      %a{:href => "https://www.linkedink.com/cltorresfe"} Desarrollo de Aplicaciones Ruby on Rails
      by
      %a{:href => "https://www.linkedink.com/cltorresfe"} Claudio Torres
