- if notice
  .row
    .col-xs-10.col-xs-offset-1
      %p.alert.alert-success{:role => "alert"}= notice
- if alert
  .row
    .col-xs-10.col-xs-offset-1
      %p.alert.alert-danger{:role => "alert"}= alert
