<% if notice %>
  <div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<p class="alert alert-success" role="alert"><%= notice %></p>
	</div>
  </div>
<% end %>

<% if alert %>
  <div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<p class="alert alert-danger" role="alert"><%= alert %></p>
	</div>
  </div>
<% end %>
