.col-sm-3.col-xs-4{ class: "col-md-#{defined?(small_size) ? '3' : '2'}"}
  .col-sm-12{ data: { toggle: 'tooltip', placement: 'top', title: t('link.show')} }
    .text-center= link_to gravatar_image_tag(member.email, filetype: :png, rating: 'pg', class:'img-circle img-container', secure: false, gravatar: { default: :mm } ), edit_member_path(member)
  .col-sm-12
    .text-center
      .emphasis
        = link_to member.full_name, edit_member_path(member)
        - if defined?(allow_deletion) && allow_deletion
          = link_to member, method: :delete, data: { confirm: t('confirm.message.destroy'), toggle: 'tooltip', placement: 'top', title: t('link.destroy')} do
            %i.glyphicon.glyphicon-trash
