- if(@members.present?)
  .row
    .col-md-12.col-sm-12.col-xs-12
      .box-body.no-padding
        .x_panel
          .x_title
            %h2
              = current_church.name
              %small
                = t('common.member', count: current_church.members.active_service.size)
            .clearfix
          .x_content
            .row
              .clearfix
              = render partial: 'member', collection: @members.active_service
              .col-md-12.col-sm-12.col-xs-12
                .text-center= will_paginate @members, :class => 'margin: 0px'
