- if(@members.present?)
  .row
    .col-md-12.col-sm-12.col-xs-12
      .box-body.no-padding
        .x_panel
          .x_title
            %h2
              = current_user.church.name
              %small
                = t('common.member', count: current_user.church.members.size)
            .clearfix
          .x_content
            .row
              .clearfix
              = render partial: 'member', collection: @members, locals: {allow_deletion: true}
              .col-md-12.col-sm-12.col-xs-12
                .text-center= will_paginate @members, :class => 'margin: 0px'
