.row
  .col-xs-offset-2.col-xs-6
    .panel.panel-info
      .panel-heading
        %h1.panel-title
          %span.glyphicon.glyphicon-th-list{"aria-hidden" => "true"}
          = t('.title')
= render 'form'
= link_to t('link.back'), members_path
